<div class="panel panel-pithy author">
    <div class="panel-heading avastar">
        <img src="{{ site.baseurl}}/assets/images/pai.jpg" alt="paichin"/>
    </div>
    <div class="panel-body">
        大家好，我是练习时长两年的数据挖掘工程师Paichin，毕业于Université Paris Diderot-Paris 7数学系, 喜欢机器学习、python、spark、MapReduce. Music!
    </div>
    <div class="panel-footer social">
        <ul>
            <li class="weibo"><a href="http://www.weibo.com/paichin/" alt="新浪微博" target="_blank"><i class="fa fa-weibo"></i></a></li>
            <li class="github"><a href="https://github.com/paichin" alt="github" target="_blank"><i class="fa fa-github"></i></a></li>
<!--             <li class="facebook"><a href="https://www.facebook.com/guovz" alt="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li> -->
            <li class="rss"><a href="{{ '/feed.xml' | prepend: site.baseurl}}" alt="订阅" target="_blank"><i class="fa fa-rss"></i></a></li>
        </ul>
    </div>
</div>
